@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


* {
  max-width: 100%;
  /* border: solid 1px red; */
  color: #1e1e24;
}


/* GENERAL STYLES */
h1 {
  text-align: center;
}

body {
  background-color: #f7ebe8;
}

main {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  margin: 0 auto;
  padding: 1rem 2rem;
}


/* CONTENT STYLES */
.content {
  display: flex;
}

.content-larger {
  flex-direction: column;
}

.content > div {
  width: 50%;
}


.left {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 0.5rem;
}

.right {
  padding: 1rem;
  display: flex;
}

.right .presets {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.right .presets-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60%;
}

.right .presets-list div {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin-top: 1rem;
  background-color: #f6f7f8;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px #1e1e24;
}

.right .presets-list div:hover {
  color:  blueviolet;
  border-color: blueviolet;
  cursor: pointer;
}

.right .rules {
  width: 65%;
  padding: 1rem;
}

.right h3 {
  text-align: center;
}

.right .rules li {
  margin-top: 0.8rem;
  line-height: 1.5;
  background-color: #f6f7f8;
  padding: 0.5rem;
  border: 1px solid grey;
  box-shadow: 1px 1px 5px #1e1e24;
}

/* GRID STYLES */
.grid {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.row {
  display: flex;
}

.cell {
  width: 1rem;
  height: 1rem;
  background-color: #f6f7f8;
  border: 1px solid #1e1e24;
  margin: 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #1e1e24;
}

.alive {
  background-color: #1e1e24;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}


/* BUTTON STYLES */
button {
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #1e1e24;
  box-shadow: 1px 1px 2px #1e1e24;
}

button:hover {
  border-color: blueviolet;
  color: blueviolet;
  cursor: pointer;
  box-shadow: 1px 1px 2px blueviolet;
}

.start-button {
  background-color: greenyellow;
}

.stop-button {
  background-color: lightcoral;
}

.clear-button {
  background-color: lightskyblue;
}

.grid-button {
  background-color: beige;
}

.speed-button {
  background-color: lightgray;
}


/* MOBILE STYLES */
@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .content > div {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: 1rem 0;
  }

  .controls {
    flex-wrap: wrap;
  }

  .controls button {
    margin: 0.5rem;
  }
}